/* styles.css */

.container_1 {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  /* styles.css */

.success-message {
    font-size: 24px;
    color: #28a745; /* Green color */
    text-align: center;
    margin-top: 20px;
  }
  
  .success-message::before,
  .success-message::after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #28a745; /* Green color */
    vertical-align: middle;
    margin: 0 10px;
  }
  
  